<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Procurement System</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
            integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
            crossorigin="anonymous"></script>

    <link crossorigin="anonymous"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          rel="stylesheet">

    <script type="text/javascript">
        $(document).ready(function () {
            $('table #edit').on('click', function () {
                let id = $(this).parent().find('#id').val();
                $.ajax({
                    type: 'GET',
                    url: "http://localhost:8080/api/v1/item/find/" + id,
                    success: function (item) {
                        $('#editModal #editId').val(item.id);
                        $('#editModal #itemDescription').val(item.itemDescription);
                        $('#editModal #itemUnitOfMeasure').val(item.unitOfMeasure);
                        $('#editModal #itemUnitPrice').val(item.unitPrice);
                        $('#editModal #itemSupplierId').val(item.supplierId);
                    }
                });
            })
        });
    </script>

</head>
<body>

<div class="container my-2">
    <h1>Items List</h1>
    <hr>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal">Add New</button>

    <hr>

    <table border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>
                <a th:href="@{'/itemPage/' + ${currentPage} + '?sortField=itemDescription&sortDir=' + ${reverseSortDir}}">
                    Item Description</a>
            </th>
            <th>
                <a th:href="@{'/itemPage/' + ${currentPage} + '?sortField=unitOfMeasure&sortDir=' + ${reverseSortDir}}">
                    Item Unit of Measure</a>
            </th>
            <th>
                <a th:href="@{'/itemPage/' + ${currentPage} + '?sortField=unitPrice&sortDir=' + ${reverseSortDir}}">
                    Item Unit Price</a>
            </th>
            <th>
                <a th:href="@{'/itemPage/' + ${currentPage} + '?sortField=supplierId&sortDir=' + ${reverseSortDir}}">
                    Supplier Id</a>
            </th>
            <th> Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${listItems}">
            <td th:text="${item.itemDescription}"></td>
            <td th:text="${item.unitOfMeasure}"></td>
            <td th:text="${item.unitPrice}"></td>
            <td th:text="${item.supplierId}"></td>
            <td><button type="button" class="btn btn-warning" data-toggle="modal" th:id="edit" data-target="#editModal">Update</button>
                <a class="btn btn-danger" th:href="@{/deleteItem/{id}(id=${item.id})}">Delete</a>
                <input type="hidden" id="id" th:value="${item.id}">
            </td>
        </tr>
        </tbody>
    </table>

    <!--    add new item detail modal-->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <form action="#" method="POST" th:action="@{/saveItem}"
              th:object="${item}">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">New Item</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="item-description" class="col-form-label">Item Description:</label>
                            <input class="form-control" placeholder="Item Description"
                                   th:field="*{itemDescription}" type="text" id="item-description" required="required">
                        </div>
                        <div class="form-group">
                            <label for="item-unitOfMeasure" class="col-form-label">Item Unit of Measure:</label>
                            <input class="form-control" placeholder="Unit of Measure"
                                   th:field="*{unitOfMeasure}" type="text" id="item-unitOfMeasure" required="required">
                        </div>
                        <div class="form-group">
                            <label for="item-unitPrice" class="col-form-label">Item Unit Price:</label>
                            <input class="form-control" placeholder="Supplier Address"
                                   th:field="*{unitPrice}" type="text" id="item-unitPrice" required="required">
                        </div>
                        <div class="form-group">
                            <label for="item-supplierId" class="col-form-label">Item Supplier Id:</label>
                            <input class="form-control" placeholder="Supplier Address"
                                   th:field="*{supplierId}" type="text" id="item-supplierId" required="required">
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!--    edit existing item detail modal-->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <form action="#" method="POST" th:action="@{/saveItem}"
              th:object="${item}">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editModalLabel">Update Item Details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input th:field="*{id}" type="hidden" id="editId" >

                        <div class="form-group">
                            <label for="itemDescription" class="col-form-label">Item Description:</label>
                            <input class="form-control" placeholder="Supplier Name"
                                   th:field="*{itemDescription}" type="text" id="itemDescription" required="required">
                        </div>
                        <div class="form-group">
                            <label for="itemUnitOfMeasure" class="col-form-label">Item Unit of Measure:</label>
                            <input class="form-control" placeholder="Supplier Mobile"
                                   th:field="*{unitOfMeasure}" type="text" id="itemUnitOfMeasure" required="required">
                        </div>
                        <div class="form-group">
                            <label for="itemUnitPrice" class="col-form-label">Item Unit of Price:</label>
                            <input class="form-control" placeholder="Supplier Address"
                                   th:field="*{unitPrice}" type="text" id="itemUnitPrice" required="required">
                        </div>
                        <div class="form-group">
                            <label for="itemSupplierId" class="col-form-label">Item Supplier Id:</label>
                            <input class="form-control" placeholder="Supplier Address"
                                   th:field="*{supplierId}" type="text" id="itemSupplierId" required="required">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-success">Update</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div th:if="${totalPages > 1}">
        <div class="row col-sm-10">
            <div class="col-sm-2">
                Total Rows: [[${totalItems}]]
            </div>
            <div class="col-sm-1">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:href="@{'/itemPage/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}"
                           th:if="${currentPage != i}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
					</span>
            </div>
            <div class="col-sm-1">
                <a th:href="@{'/itemPage/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}"
                   th:if="${currentPage < totalPages}">Next</a>
                <span th:unless="${currentPage < totalPages}">Next</span>
            </div>

            <div class="col-sm-1">
                <a th:href="@{'/itemPage/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}"
                   th:if="${currentPage < totalPages}">Last</a>
                <span th:unless="${currentPage < totalPages}">Last</span>
            </div>
        </div>
    </div>
</div>
</body>
</html>
